body {
	font-family: 'Signika', sans-serif;
}


header {
	position: relative;
	z-index: 2;
	margin-left: 5%;
	color: white;
	margin-top: 0;
	padding-bottom: 10%;
	left: 100px;
	top: 40px;
}

.landing-page {
	background-image: url("images/beach.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.the {
	font-size: 5rem;
	font-weight: 100;
	position: relative;
	/*top: 40px;*/
	right: 5px;
}


.world {
	font-size: 5rem;
	font-weight: 100;
	left: 15px;
}

.awaits {
	font-size: 8rem;
	position: relative;
	font-weight: 500;
	bottom: 30px;
	right: 20px;
}

.you {
	font-size: 15rem;
	position: relative;
	font-weight: 700;
	bottom: 100px;
	right: 25px;
}

.navbar {
	z-index: 2;
	background-color: transparent;
	}
	
.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, .8);	
	margin-left: 10%;
	margin-right: 10%;
	letter-spacing: .15rem;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 1);	
}

.navbar-light .navbar-brand {
	color: rgba(255, 255, 255, .5);
	font-size: 1.75rem;
}

.navbar-light .navbar-brand:hover {
	color: rgba(255, 255, 255, .5)
}


.collapse .navbar-collapse {
	background-color: transparent;
}

.navbar-light .navbar-toggler-icon {
	color: white;
}

.stayContainer {
	margin-bottom: -325px;
}

.stay {
	padding: 5%;
}

.stay h2 {
	color: rgba(38,121,182, 1);
	font-size: 3rem;
	margin-bottom: 20px;
}


label {
	margin-right: 3%;
}

input, select {
	margin-bottom: 20px;
}

#country {
		width: 60%;
	}

.inputs {
	margin-top: 5%;
}

.map {
height: 50%;
margin-left: 20%
}

.experience {
	background-color: rgba(38,121,182, 1);
	width: 100%;
	padding-bottom: 5%;
}

.experience h2 {
	color: white;
	font-size: 3rem;
	/*padding-left: 5%;*/
	padding-top: 5%;
	padding-bottom: 15px;
}

.navbar .navbar-light {
	background-color: transparent;
}

.srchBtn {
	margin-bottom: 0;
}

.experienceSearch {
	/*padding-left: 5%;*/
	margin-top: 0;
}

.btn-outline-success {
	color: white;
	border-color: white;
}

.btn-outline-success:hover {
	background-color: white;
	border-color: white;
	color: black;
}

.experience h3 {
	color: white;
	font-size: 1.5rem;
	margin-top: 80px;
}

@media only screen and (max-width: 1050px) {

	header {

		left: 30px;
	}
}


@media only screen and (max-width: 720px) {

	header {

		left: 30px;
	}



	.the {
		font-size: 3rem;
		right: 10px;
	}


	.world {
		font-size: 3rem;
		font-weight: 100;
		left: 15px;
	}

	.awaits {
		font-size: 5rem;
		bottom: 20px;
	}

	.you {
		font-size: 9rem;
		bottom: 70px;
		right: 20px;
	}

	.stay h2, .experience h2 {
	font-size: 2.5rem;
	}

	.inputs {
		margin-top: 0;
	}

	.experience h3 {
		margin-bottom: 10px;
		margin-top: 30px;
	}



}

@media only screen and (max-width: 765px) {

	.stayContainer {
		margin-bottom: 0;
	}

}


@media only screen and (max-width: 600px) {

	#country {
		width: 100%;
	}


}








